<div >
    <footer style="width: 80vw; margin-left: 10vw;" id="footer" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24">
            <img width="30" height="24" src="/images/favFinal.png" alt="">
          </svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Kamal Kumar</span>
      </div>
      
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/kamal-kumar-1a2ba2194/" target=”_blank”><img style="margin-right: 5vw;" width="24" height="24" src="/images/linkedin.svg" alt=""></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/iamkamalkumar17/" target=”_blank”><img style="margin-right: 5vw;" class="bi" width="24" height="24" src="/images/instagram.svg" alt=""></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://https://github.com/iamkamalkumar17/OnlineJournal" target=”_blank”><img style="margin-right: 2vw;" width="24" height="24" src="/images/github.svg" alt=""><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
      <!-- <a href="https://www.googl e.com"><img src="/images/linkedin.svg" alt=""></a> -->
      
    </footer>
  </div>
</body>
</html>
