<%- include('partials/header') -%>
<div class="container">
<h1>Compose</h1>

<form action="/submit" method="post">
  <div class="form-group">
    <label>Title</label>
    <input type="text" name="postTitle" class="form-control" />

    <label>Post</label>
    <textarea
      name="postBody"
      class="form-control"
      cols="30"
      rows="10"
    ></textarea>
  </div>
  <button type="submit" name="button" class="btn btn-primary">Publish</button>
  <button onclick="document.location='/post'" type="button" class="btn btn-outline-primary me-2">Cancel</button>
</form>
</div>
<%- include('partials/footer') -%>
