<%- include('partials/header') -%>
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <!-- <img src="../public/images/favFinal.png" alt="logo"> -->
        <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
          <img class="bi" width="40" height="32" src="/images/favFinal.png" alt="logo">
      </svg>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="#" class="nav-link px-2">Features</a></li>
      <li><a href="/post" class="nav-link px-2">Posts</a></li>
      <li><a href="/faq" class="nav-link px-2">FAQs</a></li>
      <li><a href="#" class="nav-link px-2">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button onclick="document.location='/login'" type="button" class="btn btn-outline-primary me-2">Login</button>
      <button onclick="document.location='/register'" type="button" class="btn btn-primary">Sign-up</button>
    </div>
</header>


<div style="width: 80%; margin-left: 10vw;">
    <h3>1. What is the purpose of this online journal website?
</h3>
    <p>Our online journal website provides a platform for users to create, manage, and securely store their personal journals or diaries digitally. It offers a convenient and organized way to document thoughts, experiences, and memories.
</p>
<h3>2. Is my journal content private and secure?</h3>
<p>Yes, your journal entries are private and secure. We prioritize the security and confidentiality of your data. Our website uses encryption and follows best practices to protect your journal entries from unauthorized access.
</p>

<h3>3. How do I create an account?
</h3>
<p>To create an account, click on the "Sign Up" or "Register" button on the website's homepage. You will be asked to provide a username, email address, and password. Once registered, you can log in and start journaling.
</p>
<h3>4. Can I access my journal entries from multiple devices?

    </h3>
<p>Yes, you can access your journal entries from any device with an internet connection. Our website is responsive and can be used on desktop computers, laptops, tablets, and smartphones.</p>

<h3>5. Is there a mobile app available for this service?
</h3>
<p>Currently, we do not have a dedicated mobile app, but our website is designed to work seamlessly on mobile browsers. You can access your journal from any device's web browser.
</p>

<h3>6. How do I create, edit, or delete journal entries?
</h3>
<p>Once you're logged in, you can create a new journal entry by clicking on the "New Entry" or "Add Entry" button. To edit or delete an existing entry, navigate to the entry you want to modify and use the provided editing and deletion options.
</p>

<h3>7. Can I customize the appearance of my journal or add images?
</h3>
<p>7. Can I customize the appearance of my journal or add images?
</p>



</div>

<%- include('partials/footer') %>